extends layout.pug

block content
    h3= park.parkName
    div
        ul
            li= `Location: ${park.city}, ${park.provinceState} ${park.country}`
            li= `Opened: ${park.opened}`
            li= `Size: ${park.size}`
    div
        p=park.description
    div
        a(href=`/park/edit/${park.id}`).mr-5 Edit
        a(href=`/park/delete/${park.id}`).mr-5 Delete
        a(href="/parks") Return to List
